.header-box {
  background-color: var(--secondary-bg);
  /* width: 81vw; */
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  color: var(--primary-text);
}

.header-left {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: row;
  width: 73%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 10px;
}

.header-left p {
  font-size: 0.8rem;
  margin-left: 3%;
}

.header-left-searchbox .search-input {
  border: none;
  background-color: var(--secondary-bg);
  height: 28px;
  font-size: 0.7rem;
  margin-right: 8px;
  border-radius: 15px;
  width: 20vw;
}
.header-btn {
  margin: 0 1.5vw;
}
.header-btn img {
  height: 20px;
}
.header-slidebar-btn {
  display: none;
  margin: 0 1.5vw 0 1.2vw;
  cursor: pointer;
}
.header-slidebar-btn img {
  height: 24px;
}
.header-profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: var(--primary-bg);
  width: 210px;
  height: 40px;
  justify-content: space-between;
  margin-right: 1.5vw;
}

.dropdown-body {
  position: absolute;
  top: 1.6rem;
}
.dropdown-body-close {
  display: none;
}
.dropdown-body::before {
  position: absolute;
  border-radius: 4px;
  right: 1rem;
  top: 1.3rem;
  content: "";
  width: 22px;
  height: 22px;
  background-color: var(--primary-bg);
  transform: rotate(45deg);
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 15%;
}

.dropdown-ul {
  padding: 20px 15px 15px 15px;
  background-color: var(--primary-bg);
  margin-top: 30px;
  border: 1px solid grey;
  border-radius: 5%;
}
.dropdown-li {
  list-style: none;
}

.profile-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0px 5px;
}
.profile-btn-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile-btn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profile-btn-right img {
  cursor: pointer;
}
.header-profile img {
  height: 23px;
  border-radius: 20%;
  margin-left: 5px;
}
.header-profile p {
  font-size: 0.8rem;
  font-weight: 800;
  margin-left: 5px;
}

.header-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: self-end;
  margin-bottom: 10px;
}

.header2-dropdowns {
  display: flex;
  flex-direction: row;
  margin-right: 1vw;
}

.header2-select {
  border: 1px solid grey;
  padding: 4px 0px;
  color: gray;
  border-radius: 8%;
  font-size: 0.7rem;
  font-weight: 600;
  margin-left: 0.7vw;
  background-color: var(--secondary-bg);
}
/*Not working will look after this 
.header2-options {
    border-radius: 2% !important;
    padding: 50px 4px !important;
    margin: 5px !important;
}
*/

.header2-path p {
  color: grey;
  font-size: 0.7rem;
  font-weight: 600;
}

.dropdown-btn {
  border: none;
  color: var(--button-text);
  background-color: var(--button-bg);
  padding: 5px 5px;
  font-size: 0.7rem;
  font-weight: 600;
}

.dropdown-li-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}
.dropdown-li-btns button {
  cursor: pointer;
}

@media (max-width: 950px) {
  .header-slidebar-btn {
    display: block;
  }

  .header2-path p {
    margin-left: 12px;
  }
}

@media (max-width: 820px) {
  .header2-dropdowns {
    margin-right: 20rem;
  }
}

.action__btn {
  /* display: inline-block; */
  padding: 5px 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #6b7280;
  border-radius: 50px;
  color: #6b7280;
  background-color: var(--primary-bg)
}

.action__btn:active {
  background-color: #d1d5db;
}

.action__btn_container {
    display: flex;
    justify-content: start;
    justify-items: center;
    gap: 20px;
}
